<!-- component -->
<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who Tweeted What? - {{ title }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

<body>
    <nav class="mt-2 flex justify-between border-b border-gray-200 pb-2">
        <a href="/" class="ml-2"><span><b><i>Who Tweeted What?</i></b></span></a>
        <div>
            <a href="/reset" class="p-2 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Reset Database</a>
            <a href="/update" class="p-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Update Tweets</a>
        </div>
    </nav>
    
    <article class="flex mb-4" style="padding: 3em 1em;">
        {% block content %}
        <div class="m-8 w-1/2 h-12">
          <h1 class="mb-6"><b>{{ title }}</b></h1>
          <form action="/compare" method="post">
            <select name="user0" class="mb-6 p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
              {% endfor %}
            </select>
            <select name="user1" class="mb-6 p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for user in users %}
              <option value="{{ user.username }}">{{ user.username }}</option>
              {% endfor %}
            </select>
            <input type="text" name="tweet_text" class="mb-6 p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tweet text to predict">
            <input type="submit" value="Compare Users" class="mb-6 p-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          </form>
        </div>
        <div class="m-8 w-1/2 h-12"\>
          <h2 class="mb-6"><b>Users</b></h2>
          <ul>
          {% for user in users %}
          <li><a class="no-underline hover:underline" href="/user/{{ user.username }}"><span class="stack">{{ user.username }}</span></a></li>
          {% endfor %}</ul>
          <form action="/user" method="post">
            <div class="mt-6">
            <input type="text" name="user_name" class="mb-6 p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="User to add">
            <input type="submit" value="Add User" class="mb-6 p-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            </div>
        </form>
        </div>
        {% endblock %}
      </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->

</body>

</html>
